<!doctype html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DrsPoint - Dr. Danneal Walker - Booking</title>
    <!-- site favicon -->
    <link rel="shortcut icon" type="image/png" href="assets/images/logoIcon/favicon.png">
    <!-- font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        rel="stylesheet">
    <!-- fontawesome css link -->
    <link rel="stylesheet" href="assets/templates/basic/css/fontawesome-all.min.css">
    <!-- line-awesome webfont -->
    <link rel="stylesheet" href="assets/templates/basic/css/line-awesome.min.css">
    <!-- nice-select css -->
    <link rel="stylesheet" href="assets/templates/basic/css/nice-select.css">
    <!-- bootstrap css link -->
    <link rel="stylesheet" href="assets/templates/basic/css/bootstrap.min.css">
    <!-- swipper css link -->
    <link rel="stylesheet" href="assets/templates/basic/css/swiper.min.css">
    <!-- chosen css -->
    <link rel="stylesheet" href="assets/templates/basic/css/chosen.css">
    <!-- icon css -->
    <link rel="stylesheet" href="assets/templates/basic/css/themify.css">
    <!-- animate.css -->
    <link rel="stylesheet" href="assets/templates/basic/css/animate.css">
    <!-- main style css link -->
    <link rel="stylesheet" href="assets/templates/basic/css/main.css">
    <!-- site color -->
    <link rel="stylesheet" href="assets/templates/basic/css/colorb45d.css?color1=FF8787">

</head>

<body>

    <div class="loader">
        <div class="heartbeatloader">
            <svg class="svgdraw" width="100%" height="100%" viewBox="0 0 150 400">
                <path class="path"
                    d="M 0 200 l 40 0 l 5 -40 l 5 40 l 10 0 l 5 15 l 10 -140 l 10 220 l 5 -95 l 10 0 l 5 20 l 5 -20 l 30 0"
                    fill="transparent" stroke-width="4" stroke="black" />
            </svg>
            <div class="innercircle"></div>
            <div class="outercircle"></div>
        </div>
    </div>

    <!-- header-section start -->
    <header class="header-section header-section-two">
        <div class="header">
            <div class="header-bottom-area">
                <div class="container-fluid">
                    <div class="header-menu-content">
                        <nav class="navbar navbar-expand-lg p-0">
                            <a class="site-logo site-title" href="index.html"><img src="assets/images/logoIcon/logo.png"
                                    alt="site-logo"></a>
                            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="fas fa-bars"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav main-menu ml-auto mr-auto">
                                    <li class=""><a href="index.html">Home</a></li>
                                    <li class="active"><a href="doctors-all.html">Doctors</a></li>
                                    <li class=""><a href="disease.html">Disease</a></li>
                                    <li class=""><a href="contact.html">Contact Us</a></li>
                                    <li class=""><a href="about.html">About Us</a></li>
                                </ul>
                                <div class="header-bottom-action">
                                    <a href="doctors-all.html" class="cmn-btn">Book Now</a>
                                </div>
                                <div class="header-bottom-action">
                                    <a href="login.html" class="cmn-btn">Login Now</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-section end -->
    <a href="#" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
    <div class="all-sections">
        <!-- booking-section start -->
        <!-- banner-section start -->
        <section class="inner-banner-section bg-overlay-white banner-section bg_img"
            data-background="/assets/images/frontend/breadcrumb/5fd078f78945f1607497975.jpg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content">
                            <h2 class="title">Dr. Danneal Walker - Booking</h2>
                            <div class="breadcrumb-area">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Dr. Danneal Walker -
                                            Booking</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner-section end -->
        <section class="booking-section booking-section-two pd-t-80 pd-b-40 ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="booking-item d-flex flex-wrap align-items-center justify-content-between mb-5">
                            <div class="booking-left d-flex align-items-center">
                                <div class="booking-thumb">
                                    <img src="../assets/doctor/images/profile/5ffd8ffd36fd61610452989.jpg" alt="doctor">
                                </div>
                                <div class="booking-content">
                                    <span class="sub-title"><a href="#0">Dental</a></span>
                                    <h5 class="title">Dr. Danneal Walker <i class="fas fa-check-circle"></i></h5>
                                    <p>BDS, MDS - Oral &amp; Maxillofacial Surgery</p>
                                    <ul class="booking-list">
                                        <li><i class="icon-direction-alt"></i>Dhanmondi</li>
                                        <li><i class="las la-phone"></i> 014656235</li>
                                    </ul>
                                    <div class="booking-btn">
                                        <a href="#0" class="border-btn">Dental Fillings</a>
                                        <a href="#0" class="border-btn">Teeth Whitneing</a>
                                        <a href="#0" class="border-btn">Diagnosing oral diseases</a>
                                    </div>
                                </div>
                            </div>
                            <div class="booking-right">
                                <div class="booking-content">
                                    <ul class="booking-list">
                                        <li><i class="fas fa-hourglass-start"></i>Joined us :</li>
                                        <li><i class="fas fa-stethoscope"></i>2 years ago</li>
                                        <li><span><i class="fas fa-wallet"></i>Fees : 9 $<span></li>
                                    </ul>
                                    <ul class="booking-tag">
                                        <li><a href="https://www.google.com/" target="_blank"><i
                                                    class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="https://www.instagram.com/accounts/login/" target="_blank"><i
                                                    class="fab fa-instagram"></i></a></li>
                                        <li><a href="https://www.youtube.com/" target="_blank"><i
                                                    class="fab fa-youtube-square"></i></a></li>
                                    </ul>
                                    <div class="booking-btn">
                                        <a href="#0" class="border-btn active">Appointment Available</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- booking-section end -->

        <!-- overview-section start -->
        <section class="overview-section pd-b-80">
            <div class="container">
                <div class="overview-area mrb-40">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="overview-tab-wrapper">
                                <ul class="tab-menu">
                                    <li>Overview</li>
                                    <li class="active">Booking</li>
                                </ul>
                                <div class="tab-cont">
                                    <div class="tab-item">
                                        <div class="overview-tab-content ml-b-30">
                                            <div class="overview-content">
                                                <h5 class="title">About Me</h5>
                                                <p>He was born in the year 1990 at Azimpur. His father Md Abdul Mazid
                                                    was in government service. He hailed from the village Paramtala,
                                                    Muradnagar, of Cumilla distrct. His mother’s name was Khorsheda
                                                    Begum. His wife Begum Shahnaz Sinha is a Professor of English,
                                                    University of Dhaka. He has a son and a daughter.</p>
                                            </div>
                                            <div class="overview-content">
                                                <h5 class="title">Education</h5>
                                                <div class="overview-box">
                                                    <ul class="overview-list">
                                                        <li>
                                                            <div class="overview-user">
                                                                <div class="before-circle"></div>
                                                            </div>
                                                            <div class="overview-details">
                                                                <h6 class="title">Association of Oral and Maxillofacial
                                                                    Surgeons (AMOS)</h6>
                                                                <div>MBBS</div>
                                                                <span>2005 - 2007 (2 years)</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="overview-user">
                                                                <div class="before-circle"></div>
                                                            </div>
                                                            <div class="overview-details">
                                                                <h6 class="title">American Dental Medical University
                                                                </h6>
                                                                <div>BDS</div>
                                                                <span>2005 - 2010</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="overview-content">
                                                <h5 class="title">Work & Experience</h5>
                                                <div class="overview-box">
                                                    <ul class="overview-list">
                                                        <li>
                                                            <div class="overview-user">
                                                                <div class="before-circle"></div>
                                                            </div>
                                                            <div class="overview-details">
                                                                <h6 class="title">Association of Oral and Maxillofacial
                                                                    Surgeons (AMOS)</h6>
                                                                <div>Professor &amp; Head</div>
                                                                <span>5 years</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="overview-content">
                                                <h5 class="title">Specializations</h5>
                                                <div
                                                    class="overview-footer-area d-flex flex-wrap justify-content-between">
                                                    <ul class="overview-footer-list">
                                                        <li><i class="fas fa-long-arrow-alt-right"></i>Dental Fillings
                                                        </li>
                                                        <li><i class="fas fa-long-arrow-alt-right"></i>Teeth Whitneing
                                                        </li>
                                                        <li><i class="fas fa-long-arrow-alt-right"></i>Diagnosing oral
                                                            diseases</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-item">
                                        <div class="overview-tab-content">
                                            <div
                                                class="overview-booking-header d-flex flex-wrap justify-content-between ml-b-10">
                                                <div class="overview-booking-header-left mrb-10">
                                                    <h4 class="title">Available Schedule</h4>
                                                    <ul class="overview-booking-list">
                                                        <li class="available">Available</li>
                                                        <li class="booked">Booked</li>
                                                        <li class="selected">Selected</li>
                                                    </ul>
                                                </div>

                                            </div>
                                            <form action="" class="appointment-from" method="post">
                                                <input type="hidden" name="_token" value="">
                                                <div class="overview-booking-area">
                                                    <div class="overview-booking-header-right mrb-10">
                                                        <div
                                                            class="overview-date-area d-flex flex-wrap align-items-center justify-content-between">
                                                            <div class="overview-date-header">
                                                                <h5 class="title">Choose Your Date & Time</h5>
                                                            </div>
                                                            <div class="overview-date-select">
                                                                <select class="form-control date-select"
                                                                    name="booking_date" required>
                                                                    <option value="2022-10-15">2022-10-15</option>
                                                                    <option value="2022-10-16">2022-10-16</option>
                                                                    <option value="2022-10-17">2022-10-17</option>
                                                                    <option value="2022-10-18">2022-10-18</option>
                                                                    <option value="2022-10-19">2022-10-19</option>
                                                                    <option value="2022-10-20">2022-10-20</option>
                                                                    <option value="2022-10-21">2022-10-21</option>
                                                                    <option value="2022-10-22">2022-10-22</option>
                                                                    <option value="2022-10-23">2022-10-23</option>
                                                                    <option value="2022-10-24">2022-10-24</option>
                                                                    <option value="2022-10-25">2022-10-25</option>
                                                                    <option value="2022-10-26">2022-10-26</option>
                                                                    <option value="2022-10-27">2022-10-27</option>
                                                                    <option value="2022-10-28">2022-10-28</option>
                                                                    <option value="2022-10-29">2022-10-29</option>
                                                                    <option value="2022-10-30">2022-10-30</option>
                                                                    <option value="2022-10-31">2022-10-31</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <ul class="clearfix">
                                                        <li>
                                                            <a href="javascript:void(0)"
                                                                class="available-time active-time item1000am"
                                                                data-value="10:00:am">
                                                                <span>10:00:am</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)"
                                                                class="available-time active-time item1030am"
                                                                data-value="10:30:am">
                                                                <span>10:30:am</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)"
                                                                class="available-time active-time item1100am"
                                                                data-value="11:00:am">
                                                                <span>11:00:am</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)"
                                                                class="available-time active-time item1130am"
                                                                data-value="11:30:am">
                                                                <span>11:30:am</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)"
                                                                class="available-time active-time item1200pm"
                                                                data-value="12:00:pm">
                                                                <span>12:00:pm</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)"
                                                                class="available-time active-time item1230pm"
                                                                data-value="12:30:pm">
                                                                <span>12:30:pm</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)"
                                                                class="available-time active-time item0100pm"
                                                                data-value="01:00:pm">
                                                                <span>01:00:pm</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)"
                                                                class="available-time active-time item0130pm"
                                                                data-value="01:30:pm">
                                                                <span>01:30:pm</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)"
                                                                class="available-time active-time item0200pm"
                                                                data-value="02:00:pm">
                                                                <span>02:00:pm</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)"
                                                                class="available-time active-time item0230pm"
                                                                data-value="02:30:pm">
                                                                <span>02:30:pm</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)"
                                                                class="available-time active-time item0300pm"
                                                                data-value="03:00:pm">
                                                                <span>03:00:pm</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)"
                                                                class="available-time active-time item0330pm"
                                                                data-value="03:30:pm">
                                                                <span>03:30:pm</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)"
                                                                class="available-time active-time item0400pm"
                                                                data-value="04:00:pm">
                                                                <span>04:00:pm</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)"
                                                                class="available-time active-time item0430pm"
                                                                data-value="04:30:pm">
                                                                <span>04:30:pm</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)"
                                                                class="available-time active-time item0500pm"
                                                                data-value="05:00:pm">
                                                                <span>05:00:pm</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)"
                                                                class="available-time active-time item0530pm"
                                                                data-value="05:30:pm">
                                                                <span>05:30:pm</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)"
                                                                class="available-time active-time item0600pm"
                                                                data-value="06:00:pm">
                                                                <span>06:00:pm</span>
                                                            </a>
                                                        </li>
                                                        <input type="hidden" name="time_serial" class="time" required>
                                                    </ul>
                                                </div>
                                                <div class="booking-appoint-area">
                                                    <div class="row justify-content-center ml-b-30">
                                                        <div class="col-lg-6 mrb-30">
                                                            <div class="booking-appoint-form-area">
                                                                <h4 class="title">Appointment Form</h4>
                                                                <form class="booking-appoint-form">
                                                                    <div class="row">
                                                                        <div class="col-lg-6 form-group">
                                                                            <input type="text" name="name"
                                                                                placeholder="Patient name*" required>
                                                                        </div>
                                                                        <div class="col-lg-6 form-group">
                                                                            <input type="number" name="age"
                                                                                placeholder="Patient age*" required>
                                                                        </div>
                                                                        <div class="col-lg-12 form-group">
                                                                            <input type="email" name="email"
                                                                                placeholder="Email*" required>
                                                                        </div>
                                                                        <div class="col-lg-12 form-group">
                                                                            <input type="text" name="mobile"
                                                                                placeholder="Phone number*" required>
                                                                        </div>
                                                                        <div class="col-lg-12 form-group">
                                                                            <textarea name="disease"
                                                                                placeholder="Disease details*"></textarea>
                                                                        </div>
                                                                        <div
                                                                            class="col-lg-12 form-group d-flex flex-wrap justify-content-between">
                                                                            <button type="submit"
                                                                                class="cmn-btn payment-system"
                                                                                data-value="2">Pay In Cash</button>

                                                                            <button type="submit"
                                                                                class="cmn-btn payment-system"
                                                                                data-value="1">Pay Online</button>
                                                                            <input type="hidden" name="payment_system"
                                                                                class="payment" required>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 mrb-30">
                                                            <div class="booking-confirm-area">
                                                                <h4 class="title">Confirm Your Booking</h4>
                                                                <ul class="booking-confirm-list">
                                                                    <li><span>Patient Name</span> : <span
                                                                            class="custom-color" id="name"></span></li>
                                                                    <li><span>Age</span> : <span class="custom-color"
                                                                            id="age"></span></li>
                                                                    <li><span>Email</span> : <span class="custom-color"
                                                                            id="email"></span></li>
                                                                    <li><span>Phone Number</span> : <span
                                                                            class="custom-color" id="mobile"></span>
                                                                    </li>
                                                                    <li><span>Date & Time</span> : <span
                                                                            class="custom-color" id="date"></span> ,
                                                                        <span class="custom-color"
                                                                            id="book-time"></span>
                                                                    </li>
                                                                    <li><span>Fees</span> : 9 $</li>
                                                                </ul>
                                                                <div class="booking-confirm-btn">
                                                                    <a href="javascript:void(0)"
                                                                        class="cmn-btn-active reset">Reset</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="tab-item">
                                        <div class="fb-comments" data-href="#" data-numposts="5"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- overview-section end -->
    </div>
    <!-- call-to-action section start -->
    <section class="call-to-action-section">
        <div class="container">
            <div class="row justify-content-center align-self-center">
                <div class="col-lg-8 text-center">
                    <div class="call-to-action-area">
                        <div class="call-info">
                            <div class="call-info-thumb">
                                <img src="assets/images/frontend/footer/5fc4bbd9ae3d01606728665.png" alt="call">
                            </div>
                            <div class="call-info-content">
                                <h4 class="title">
                                    <span>Emergency Call</span>
                                    <a href="#">+12345-678-9</a>
                                </h4>
                            </div>
                        </div>
                        <div class="mail-info">
                            <div class="mail-info-thumb">
                                <img src="assets/images/frontend/footer/5fc4bbd9b073d1606728665.png" alt="email">
                            </div>
                            <div class="mail-info-content">
                                <h4 class="title">
                                    <span>24/7 Email Support</span>
                                    <a href="#"><span>DrsPoint@gmail.com</span></a>
                                </h4>
                            </div>
                        </div>
                        <span class="dc-or-text">- OR -</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- call-to-action section end -->


    <!-- footer-section start -->
    <footer class="footer-section ptb-80">
        <div class="custom-container">
            <div class="footer-area">
                <div class="row ml-b-30">
                    <div class="col-lg-4 col-sm-6 mrb-30">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html" class="site-logo"><img src="assets/images/logoIcon/logo.png"
                                        alt="site-logo"></a>
                            </div>
                            <p>DrsPoint is the best place to find your preferable specialist and doctors. So feel free
                                to
                                contact us and get the best experience.</p>
                            <ul>
                                <li><i class="fas fa-headphones-alt"></i> +88-01774585923</li>
                                <li><i class="far fa-envelope"></i> <a href="">DrsPoint@gmail.com</a></li>
                                <li><i class="fas fa-location-arrow"></i> Dhaka, Bangladesh</li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 mrb-30">
                        <div class="footer-widget">
                            <h3 class="widget-title">For Patients</h3>
                            <ul>
                                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Search for Doctors</a></li>
                                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Login</a></li>
                                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Registration</a></li>
                                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Booking</a></li>
                                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Patient Dashboard</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 mrb-30">
                        <div class="footer-widget">
                            <h3 class="widget-title">For Doctors</h3>
                            <ul>
                                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Login</a></li>
                                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Doctor Dashboard</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mrb-30">
                        <div class="footer-widget">
                            <h3 class="widget-title">Subscribe Us</h3>
                            <p>Once you subscribe to our newsletter, we will send our promo offers and news to your
                                email.</p>

                            <form class="footer-form">
                                <input type="email" name="email" id="subscriber" placeholder="Enter Your Email"
                                    required>
                                <button type="button" class="submit-btn subs"><i class="icon-arrow-right"></i></button>
                            </form>
                            <div class="social-area">
                                <ul class="footer-social">
                                    <li><a href="https://www.whatsapp.com/?lang=en" target="_blank"><i
                                                class="fab fa-whatsapp"></i></a></li>
                                    <li><a href="https://www.pinterest.com/" target="_blank"><i
                                                class="lab la-pinterest"></i></a></li>
                                    <li><a href="https://twitter.com/?lang=en" target="_blank"><i
                                                class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.youtube.com/" target="_blank"><i
                                                class="fab fa-youtube"></i></a></li>
                                    <li><a href="https://www.google.com/" target="_blank"><i
                                                class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://www.google.com/" target="_blank"><i
                                                class="fab fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="privacy-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="copyright-area d-flex flex-wrap align-items-center justify-content-center">
                        <div class="copyright">
                            <p>Copyright © 2022 by DrsPoint. All Rights reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-section end -->



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!-- jquery -->
    <script src="assets/templates/basic/js/jquery-3.3.1.min.js"></script>
    <!-- migarate-jquery -->
    <script src="assets/templates/basic/js/jquery-migrate-3.0.0.js"></script>
    <!-- bootstrap js -->
    <script src="assets/templates/basic/js/bootstrap.min.js"></script>
    <!-- nice-select js-->
    <script src="assets/templates/basic/js/jquery.nice-select.js"></script>
    <!-- chosen js -->
    <script src="assets/templates/basic/js/chosen.jquery.js"></script>
    <!-- swipper js -->
    <script src="assets/templates/basic/js/swiper.min.js"></script>
    <!-- wow js file -->
    <script src="assets/templates/basic/js/wow.min.js"></script>
    <!-- main -->
    <script src="assets/templates/basic/js/script.js"></script>

    <link rel="stylesheet" href="assets/templates/basic/css/iziToast.min.css">
    <script src="assets/templates/basic/js/iziToast.min.js"></script>


    <script>

        (function ($) {
            'use strict';

            $(document).on('click', '.active-time ', function () {
                $('.time').val($(this).data('value'));
                $('#book-time').text($(this).data('value'));
            });




            var booking = $('select[name=booking_date]').find('option:selected').val();
            $('.available-time').removeClass('active');
            var date = $('#date').text(booking);

            var url = "../booked_date.json";
            var date = booking;
            var id = '9';
            var data = { date: date, doctor_id: id }

            $.get(url, data, function (response) {
                $('.time').val('');
                if (response.length == 0) {
                    $('.available-time').removeClass('disabled').addClass('active-time');
                } else {
                    $('.available-time').removeClass('disabled').addClass('active-time');
                    $.each(response, function (key, value) {
                        var item = $(`.item${value}`);
                        item.addClass('disabled').removeClass('active-time');
                    });
                }
            });





            $('select[name=booking_date]').on('change', function () {
                $('.available-time').removeClass('active');
                var date = $('#date').text($(this).val());

                var url = "../booked_date.json";
                var date = $(this).val();
                var id = '9';
                var data = { date: date, doctor_id: id }

                $.get(url, data, function (response) {
                    $('.time').val('');
                    if (response.length == 0) {
                        $('.available-time').removeClass('disabled').addClass('active-time');
                    } else {
                        $('.available-time').removeClass('disabled').addClass('active-time');
                        $.each(response, function (key, value) {
                            var item = $(`.item${value}`);
                            item.addClass('disabled').removeClass('active-time');
                        });
                    }
                });
            });







            $(document).on('click', '.payment-system', function () {
                $('.payment').val($(this).data('value'));
            });

            $(document).on('input', '[name=name]', function () {
                $('#name').text($(this).val());
            });
            $(document).on('input', '[name=age]', function () {
                $('#age').text($(this).val());
            });
            $(document).on('input', '[name=email]', function () {
                $('#email').text($(this).val());
            });
            $(document).on('input', '[name=mobile]', function () {
                $('#mobile').text($(this).val());
            });

            $(document).on('click', '.reset ', function () {
                $('#name').text('');
                $('#age').text('');
                $('#email').text('');
                $('#mobile').text('');
                $('#book-time').text('');

                $('.available-time').removeClass('active');
                $('.time').val('');

                $('.appointment-from').trigger("reset");

            });
        })(jQuery);
    </script>


    <link rel="stylesheet" href="../assets/templates/basic/css/iziToast.min.css">
    <script src="../assets/templates/basic/js/iziToast.min.js"></script>


    <script>
        "use strict";
        function notify(status, message) {
            iziToast[status]({
                message: message,
                position: "topRight"
            });
        }
    </script>

</body>

</html>