<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DrsPoint - Our Doctors</title>
    <!-- site favicon -->
    <link rel="shortcut icon" type="image/png" href="assets/images/logoIcon/favicon.png">
    <!-- font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        rel="stylesheet">
    <!-- fontawesome css link -->
    <link rel="stylesheet" href="assets/templates/basic/css/fontawesome-all.min.css">
    <!-- line-awesome webfont -->
    <link rel="stylesheet" href="assets/templates/basic/css/line-awesome.min.css">
    <!-- nice-select css -->
    <link rel="stylesheet" href="assets/templates/basic/css/nice-select.css">
    <!-- bootstrap css link -->
    <link rel="stylesheet" href="assets/templates/basic/css/bootstrap.min.css">
    <!-- swipper css link -->
    <link rel="stylesheet" href="assets/templates/basic/css/swiper.min.css">
    <!-- chosen css -->
    <link rel="stylesheet" href="assets/templates/basic/css/chosen.css">
    <!-- icon css -->
    <link rel="stylesheet" href="assets/templates/basic/css/themify.css">
    <!-- animate.css -->
    <link rel="stylesheet" href="assets/templates/basic/css/animate.css">
    <!-- main style css link -->
    <link rel="stylesheet" href="assets/templates/basic/css/main.css">
    <!-- site color -->
    <link rel="stylesheet" href="assets/templates/basic/css/colorb45d.css?color1=FF8787">

</head>

<body>

    <div class="loader">
        <div class="heartbeatloader">
            <svg class="svgdraw" width="100%" height="100%" viewBox="0 0 150 400">
                <path class="path"
                    d="M 0 200 l 40 0 l 5 -40 l 5 40 l 10 0 l 5 15 l 10 -140 l 10 220 l 5 -95 l 10 0 l 5 20 l 5 -20 l 30 0"
                    fill="transparent" stroke-width="4" stroke="black" />
            </svg>
            <div class="innercircle"></div>
            <div class="outercircle"></div>
        </div>
    </div>

    <!-- header-section start -->
    <header class="header-section header-section-two">
        <div class="header">
            <div class="header-bottom-area">
                <div class="container-fluid">
                    <div class="header-menu-content">
                        <nav class="navbar navbar-expand-lg p-0">
                            <a class="site-logo site-title" href="index.html"><img src="assets/images/logoIcon/logo.png"
                                    alt="site-logo"></a>
                            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="fas fa-bars"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav main-menu ml-auto mr-auto">
                                    <li class=""><a href="index.html">Home</a></li>
                                    <li class="active"><a href="doctors-all.html">Doctors</a></li>
                                    <li class=""><a href="diseases.html">Disease</a></li>
                                    <li class=""><a href="contact.html">Contact Us</a></li>
                                    <li class=""><a href="about.html">About Us</a></li>
                                </ul>
                                <div class="header-bottom-action">
                                    <a href="doctors-all.html" class="cmn-btn">Book Now</a>
                                </div>
                                <div class="header-bottom-action">
                                    <a href="login.html" class="cmn-btn">Login Now</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-section end -->
    <a href="#" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
    <div class="all-sections">
        <!-- banner-section start -->
        <section class="inner-banner-section bg-overlay-white banner-section bg_img"
            data-background="assets/images/frontend/breadcrumb/5fd078f78945f1607497975.jpg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content">
                            <h2 class="title">Our Doctors</h2>
                            <div class="breadcrumb-area">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Our Doctors</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner-section end -->


        <!-- booking-section start -->
        <section class="booking-section ptb-80">
            <div class="container">
                <div class="booking-search-area">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 text-center">
                            <div class="appoint-content">
                                <form class="appoint-form mt-0 ml-b-20" action="doctors-all.html" method="get">
                                    <input type="hidden" name="_token" value="">
                                    <div class="search-location form-group">
                                        <div class="appoint-select">
                                            <select class="chosen-select locations" name="location">
                                                <option value="">Location*</option>
                                                <option value="6">Banani</option>
                                                <option value="5">Gulshan</option>
                                                <option value="4">Santinagar</option>
                                                <option value="3">Mirpur</option>
                                                <option value="2">Dhanmondi</option>
                                                <option value="1">Uttara</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="search-location form-group">
                                        <div class="appoint-select">
                                            <select class="chosen-select locations" name="disease">
                                                <option value="">Disease*</option>
                                                <option value="8">Hematologist</option>
                                                <option value="7">Ophthalmology</option>
                                                <option value="6">Dental</option>
                                                <option value="5">ENT</option>
                                                <option value="4">Oncology</option>
                                                <option value="3">Neurology</option>
                                                <option value="2">Cardiology</option>
                                                <option value="1">Gynecology</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="search-info form-group">
                                        <div class="appoint-select">
                                            <select class="chosen-select locations" name="gender">
                                                <option value="">Gender*</option>
                                                <option value="1">Male</option>
                                                <option value="2">Female</option>
                                                <option value="3">Others</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button type="submit" class="search-btn cmn-btn"><i
                                            class="icon-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center ml-b-30">
                    <div class="col-lg-3 col-md-6 col-sm-6 mrb-30">
                        <div class="booking-item">
                            <div class="booking-thumb">
                                <img src="assets/doctor/images/profile/605f15f99f1921616844281.jpg" alt="booking">
                                <div class="doc-deg">ENT</div>
                            </div>
                            <div class="booking-content">
                                <span class="sub-title"><a href="#">ENT</a></span>
                                <h5 class="title">Dr. Dina Elijah <i class="fas fa-check-circle"></i></h5>
                                <p>MBBS, FRCS, FRCP</p>
                                <ul class="booking-list">
                                    <li><i class="icon-direction-alt"></i><a href="#">Mirpur</a></li>
                                    <li><i class="las la-phone"></i> 987999999</li>
                                </ul>
                                <div class="booking-btn">
                                    <a href="booking.html" class="cmn-btn">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mrb-30">
                        <div class="booking-item">
                            <div class="booking-thumb">
                                <img src="assets/doctor/images/profile/605f162d78c7c1616844333.jpg" alt="booking">
                                <div class="doc-deg">Cardiology</div>
                            </div>
                            <div class="booking-content">
                                <span class="sub-title"><a href="doctors-all/sector/2.html">Cardiology</a></span>
                                <h5 class="title">Dr. Noah Benjamin <i class="fas fa-check-circle"></i></h5>
                                <p>FRCS, FRCOG, FRCP</p>
                                <ul class="booking-list">
                                    <li><i class="icon-direction-alt"></i><a
                                            href="doctors-all/location/1.html">Uttara</a></li>
                                    <li><i class="las la-phone"></i> 7987899</li>
                                </ul>
                                <div class="booking-btn">
                                    <a href="booking.html" class="cmn-btn">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mrb-30">
                        <div class="booking-item">
                            <div class="booking-thumb">
                                <img src="assets/doctor/images/profile/605f16dc7d6041616844508.jpg" alt="booking">
                                <div class="doc-deg">Gynecology</div>
                            </div>
                            <div class="booking-content">
                                <span class="sub-title"><a href="doctors-all/sector/1.html">Gynecology</a></span>
                                <h5 class="title">Dr. Emma Olivia <i class="fas fa-check-circle"></i></h5>
                                <p>MBBS, FRCS, FRCOG, FRCP</p>
                                <ul class="booking-list">
                                    <li><i class="icon-direction-alt"></i><a
                                            href="doctors-all/location/2.html">Dhanmondi</a></li>
                                    <li><i class="las la-phone"></i> 654488787</li>
                                </ul>
                                <div class="booking-btn">
                                    <a href="booking.html" class="cmn-btn">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mrb-30">
                        <div class="booking-item">
                            <div class="booking-thumb">
                                <img src="assets/doctor/images/profile/605f168dbc8581616844429.jpg" alt="booking">
                                <div class="doc-deg">Oncology</div>
                            </div>
                            <div class="booking-content">
                                <span class="sub-title"><a href="#">Oncology</a></span>
                                <h5 class="title">Dr. Mary Edwards <i class="fas fa-check-circle"></i></h5>
                                <p>MBBS, MCPS, MSc</p>
                                <ul class="booking-list">
                                    <li><i class="icon-direction-alt"></i><a
                                            href="doctors-all/location/2.html">Dhanmondi</a></li>
                                    <li><i class="las la-phone"></i> 01286545</li>
                                </ul>
                                <div class="booking-btn">
                                    <a href="booking.html" class="cmn-btn">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mrb-30">
                        <div class="booking-item">
                            <div class="booking-thumb">
                                <img src="assets/doctor/images/profile/5ffd911c4fb861610453276.jpg" alt="booking">
                                <div class="doc-deg">Ophthalmology</div>
                            </div>
                            <div class="booking-content">
                                <span class="sub-title"><a href="#">Ophthalmology</a></span>
                                <h5 class="title">Sherrinford William <i class="fas fa-check-circle"></i></h5>
                                <p>MBBS, DCO(ICO,Ctg) , MPHO (UniSA)</p>
                                <ul class="booking-list">
                                    <li><i class="icon-direction-alt"></i><a
                                            href="doctors-all/location/1.html">Uttara</a></li>
                                    <li><i class="las la-phone"></i> 624564156</li>
                                </ul>
                                <div class="booking-btn">
                                    <a href="booking.html" class="cmn-btn">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mrb-30">
                        <div class="booking-item">
                            <div class="booking-thumb">
                                <img src="assets/doctor/images/profile/5ffd9070747d71610453104.jpg" alt="booking">
                                <div class="doc-deg">Neurology</div>
                            </div>
                            <div class="booking-content">
                                <span class="sub-title"><a href="doctors-all/sector/3.html">Neurology</a></span>
                                <h5 class="title">Dr. Royal Matthew <i class="fas fa-check-circle"></i></h5>
                                <p>MD FACP(USA) MBBS. (Oncologist)</p>
                                <ul class="booking-list">
                                    <li><i class="icon-direction-alt"></i><a
                                            href="doctors-all/location/2.html">Dhanmondi</a></li>
                                    <li><i class="las la-phone"></i> 56456459</li>
                                </ul>
                                <div class="booking-btn">
                                    <a href="booking.html" class="cmn-btn">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mrb-30">
                        <div class="booking-item">
                            <div class="booking-thumb">
                                <img src="assets/doctor/images/profile/5ffd9048020671610453064.jpg" alt="booking">
                                <div class="doc-deg">Gynecology</div>
                            </div>
                            <div class="booking-content">
                                <span class="sub-title"><a href="doctors-all/sector/1.html">Gynecology</a></span>
                                <h5 class="title">Dr. Elizabeth Blackwell <i class="fas fa-check-circle"></i></h5>
                                <p>MBBS, FRCS, FRCOG, FRCP, FCPS</p>
                                <ul class="booking-list">
                                    <li><i class="icon-direction-alt"></i><a href="#">Mirpur</a></li>
                                    <li><i class="las la-phone"></i> 9787465</li>
                                </ul>
                                <div class="booking-btn">
                                    <a href="booking.html" class="cmn-btn">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mrb-30">
                        <div class="booking-item">
                            <div class="booking-thumb">
                                <img src="assets/doctor/images/profile/5ffd8ffd36fd61610452989.jpg" alt="booking">
                                <div class="doc-deg">Dental</div>
                            </div>
                            <div class="booking-content">
                                <span class="sub-title"><a href="#">Dental</a></span>
                                <h5 class="title">Dr. Danneal Walker <i class="fas fa-check-circle"></i></h5>
                                <p>BDS, MDS - Oral &amp; Maxillofacial Surgery</p>
                                <ul class="booking-list">
                                    <li><i class="icon-direction-alt"></i><a
                                            href="doctors-all/location/2.html">Dhanmondi</a></li>
                                    <li><i class="las la-phone"></i> 014656235</li>
                                </ul>
                                <div class="booking-btn">
                                    <a href="booking.html" class="cmn-btn">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- booking-section end -->
    </div>
    <!-- call-to-action section start -->
    <section class="call-to-action-section">
        <div class="container">
            <div class="row justify-content-center align-self-center">
                <div class="col-lg-8 text-center">
                    <div class="call-to-action-area">
                        <div class="call-info">
                            <div class="call-info-thumb">
                                <img src="assets/images/frontend/footer/5fc4bbd9ae3d01606728665.png" alt="call">
                            </div>
                            <div class="call-info-content">
                                <h4 class="title">
                                    <span>Emergency Call</span>
                                    <a href="#">+12345-678-9</a>
                                </h4>
                            </div>
                        </div>
                        <div class="mail-info">
                            <div class="mail-info-thumb">
                                <img src="assets/images/frontend/footer/5fc4bbd9b073d1606728665.png" alt="email">
                            </div>
                            <div class="mail-info-content">
                                <h4 class="title">
                                    <span>24/7 Email Support</span>
                                    <a href="#"><span>DrsPoint@gmail.com</span></a>
                                </h4>
                            </div>
                        </div>
                        <span class="dc-or-text">- OR -</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- call-to-action section end -->


    <!-- footer-section start -->
    <footer class="footer-section ptb-80">
        <div class="custom-container">
            <div class="footer-area">
                <div class="row ml-b-30">
                    <div class="col-lg-4 col-sm-6 mrb-30">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html" class="site-logo"><img src="assets/images/logoIcon/logo.png"
                                        alt="site-logo"></a>
                            </div>
                            <p>DrsPoint is the best place to find your preferable specialist and doctors. So feel free
                                to
                                contact us and get the best experience.</p>
                            <ul>
                                <li><i class="fas fa-headphones-alt"></i> +88-01774585923</li>
                                <li><i class="far fa-envelope"></i> <a href="">DrsPoint@gmail.com</a></li>
                                <li><i class="fas fa-location-arrow"></i> Dhaka, Bangladesh</li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 mrb-30">
                        <div class="footer-widget">
                            <h3 class="widget-title">For Patients</h3>
                            <ul>
                                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Search for Doctors</a></li>
                                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Login</a></li>
                                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Registration</a></li>
                                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Booking</a></li>
                                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Patient Dashboard</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 mrb-30">
                        <div class="footer-widget">
                            <h3 class="widget-title">For Doctors</h3>
                            <ul>
                                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Login</a></li>
                                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Doctor Dashboard</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mrb-30">
                        <div class="footer-widget">
                            <h3 class="widget-title">Subscribe Us</h3>
                            <p>Once you subscribe to our newsletter, we will send our promo offers and news to your
                                email.</p>

                            <form class="footer-form">
                                <input type="email" name="email" id="subscriber" placeholder="Enter Your Email"
                                    required>
                                <button type="button" class="submit-btn subs"><i class="icon-arrow-right"></i></button>
                            </form>
                            <div class="social-area">
                                <ul class="footer-social">
                                    <li><a href="https://www.whatsapp.com/?lang=en" target="_blank"><i
                                                class="fab fa-whatsapp"></i></a></li>
                                    <li><a href="https://www.pinterest.com/" target="_blank"><i
                                                class="lab la-pinterest"></i></a></li>
                                    <li><a href="https://twitter.com/?lang=en" target="_blank"><i
                                                class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.youtube.com/" target="_blank"><i
                                                class="fab fa-youtube"></i></a></li>
                                    <li><a href="https://www.google.com/" target="_blank"><i
                                                class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://www.google.com/" target="_blank"><i
                                                class="fab fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="privacy-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="copyright-area d-flex flex-wrap align-items-center justify-content-center">
                        <div class="copyright">
                            <p>Copyright © 2022 by DrsPoint. All Rights reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-section end -->



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!-- jquery -->
    <script src="assets/templates/basic/js/jquery-3.3.1.min.js"></script>
    <!-- migarate-jquery -->
    <script src="assets/templates/basic/js/jquery-migrate-3.0.0.js"></script>
    <!-- bootstrap js -->
    <script src="assets/templates/basic/js/bootstrap.min.js"></script>
    <!-- nice-select js-->
    <script src="assets/templates/basic/js/jquery.nice-select.js"></script>
    <!-- chosen js -->
    <script src="assets/templates/basic/js/chosen.jquery.js"></script>
    <!-- swipper js -->
    <script src="assets/templates/basic/js/swiper.min.js"></script>
    <!-- wow js file -->
    <script src="assets/templates/basic/js/wow.min.js"></script>
    <!-- main -->
    <script src="assets/templates/basic/js/script.js"></script>

    <link rel="stylesheet" href="assets/templates/basic/css/iziToast.min.css">
    <script src="assets/templates/basic/js/iziToast.min.js"></script>


    <script>
        "use strict";
        function notify(status, message) {
            iziToast[status]({
                message: message,
                position: "topRight"
            });
        }
    </script>






</body>

</html>